 


body{ 
    margin: 0;
    padding: 0;  
}
 
section.slido .slider .slide  {
    width: 100%;
    height:50vh;
    object-fit: cover;
    opacity: 0.9;
    
  }


  
  section.slido .slider .slide{
      text-align: center; 
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      
  }
  

  section.slido .content{
      position: absolute;
    text-align: center;
    top: 30%;
     left: 50%;
     transform: translate(-50%, -50%);
     
    

  }
  section.slido .slider-dots .dots{
      list-style-type: none;
      display: flex!important;
      justify-content: center;
  }
  section.slido .slider-dots {
      margin-top: 0rem;
  }
  section.slido .slider-dots button{
      font-size: 0px;
      width: 8px;
      height: 5px;
      margin-right: 0.3rem;
      border: none;
      outline: none;
      background: white;
      border-radius: 60%;
      cursor: pointer;
  }
  
  section.slido .dots  li.slick-active{
       
      width: 30px;
  }

  section.slido .slick-prev{
      z-index: 1;
      position:absolute;
      left:10px;
      top:50%;
      font-size: 0;
    border-radius: 45%;
  }

  section.slido .slick-prev::before{
    content: ">";
    font-size: 20px;
    color: black;
    justify-content: center;
    align-items: center;
   
}
  section.slido .slick-next{
    position:absolute;
    right:10px;
    font-size: 0; 
    border-radius: 45%;
    cursor: pointer;
    top: 50%;
}
section.slido .slick-next::before{
    content: ">";
    font-size: 20px;
    color: black;
    justify-content: center;
    align-items: center;
   
}


.content .input-icons input{
    position: relative;
    width: 100%;
    height: 30px;
    border:  2px solid gray;
    background: none;
    border-radius: 8px;
    opacity: 0.9;
}
.content .input-icons .fa{
    position: absolute;
    right: 10px;
    margin-top: 8px;
}

.content .input-icons input{
    width: 100%;
    text-align: center;
}
.content .input-icons{
    display: flex;
    justify-content: right;
    text-align: right;
}

 
 

  
   
